<div id="invoices-index">
  <% @invoices.each do |invoice| %>
    <div class="row">
        <h3><%= link_to invoice.display_value, invoice_path(invoice), class:'btn btn-primary' %></h3>
    </div>
  <% end %>
</div>
