// main 
$navbar_background_color: #4A4E4B;
$selected_color: #858E9B;
$title_color: #5A9FFF;
$grid_color: #2D5599;
$background_color: #C2D1EC;

$text_color: black;
$primary_button_color: white;

$issuer_font_size: 1.5em;

$default_margin_top: 24px;