// main 

// Blue & green colors
$navbar_background_color: #98C5DE;
$selected_color: #299398;
$title_color: #3A4E28;
$grid_color: #3A4E28;
$background_color: #65A9D0;
$text_color: #286090;
$primary_button_color: white;

$issuer_font_size: 1.5em;

$default_margin_top: 24px;
$big_button_padding: 16px;