@import "colors.scss";
@import "font-awesome-sprockets";
@import "font-awesome";

body{
  padding-top: 50px;
  font-family:'Arial', sans-serif;
  font-size:14px;
  color:$background_color;
  line-height:$issuer_font_size;
}

.navbar-default {
  background:$navbar_background_color;
  color:$title_color;
}

.navbar-brand {
  color:$title_color !important;
}

.company_name {
  color: $title_color !important;
  font-size: $issuer_font_size;
}

.my_navbar_button {
  height: 36px;
  top: 8px;
  padding-top: 8px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: $title_color;
  @extend .my_navbar_button;
}

.navbar-default .navbar-nav>li>a  {
  color: $background_color;
}

// .dropdown.open {
//   @extend .my_navbar_button;
// }

a, a:focus, a:hover {
  color: $title_color;
  text-decoration: none;
}

.toggle_link:hover {
  color: $title_color;
  // font-weight: bolder;
}

.datagrid {
  margin-top: $default_margin_top;
  width: 100%;
}

.invoice_box {
  margin-top: $default_margin_top;
  border-style: solid;
  border-width: medium;
  border-color: $grid_color;
  padding: 10px;  
}

.error_box {
  border-color: red;
}

footer{
  background:$navbar_background_color;
  color:$title_color;
  height:60px;
  margin-top:20px;
  text-align: center;
  padding-top:20px;
  width: 100%;
}

.my_button {
  font-size: 1.2em;
  a {
    color: inherit;
    margin-left: 2px;
  }
  .glyphicon {
    margin-right: 0; 
  }
}