@import "colors.scss";

body{
  padding-top: 50px;
  font-family:'Arial', sans-serif;
  font-size:14px;
  color:$background_color;
  line-height:1.5em;
}

.navbar-default {
  background:$navbar_background_color;
  color:$title_color;
}

.navbar-brand {
  color:$title_color !important;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: $title_color;
}

.navbar-default .navbar-nav>li>a  {
  color: $background_color;
}

.toggle_link:hover {
  color: $title_color;
  // font-weight: bolder;
}

.datagrid {
  margin-top: 24px;
}

footer{
  background:$navbar_background_color;
  color:$title_color;
  height:60px;
  margin-top:20px;
  text-align: center;
  padding-top:20px;
  width: 100%;
}

.company_name {
  color: $title_color !important;
  font-size: 1.5em;
}