// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors.scss";

.unsigned {
  color: $grid_color;
  // color: $selected_color;
  font-weight: bolder;
}

.signed {
  color: $grid_color;
}

.submit_cancel {
  margin-top: 16px;
}

#need_help_button {
  margin-top: 12px;
  margin-bottom: 24px;
  height: 64px;
  padding: $big_button_padding;
  font-size: 1.5em;
  a {
    color: inherit;
    margin-left: 4px;
  }
}  

#choose_file_btn {
  width: 100%
}