// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors.scss";

.unsigned {
  color: $grid_color;
  // color: $selected_color;
  font-weight: bolder;
}

.signed {
  color: $grid_color;
}

#filter_box {
  background: inherit;
  color: $title_color;
  padding: 0;
}
.checkbox span {
  color: $title_color;
}

#ed_filter_text {
  width: 100%
}

#upload_button {
  margin-top: 64px;
  width: 100%;
  height: 64px;
  padding: 20px;
  font-size: 1.5em;
  a {
    color: inherit;
    margin-left: 4px;
  }
}